

    body{
        background-color: #f6f5f5;
    }

    .navbar-nav{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin: 0px 7px;
    }
    
    .navbar{
        height: 70px;
        background-color: black;
        
        
    }

   
    .section{
        background-image: url(images/bg_nada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 100vh;
        

    }

    .text1{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-column-start:2 ;
        grid-column-end: 3;
        justify-content: center;
        align-items: center;
    }
    .text1 .a{
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
        color: azure;  
    }


    .text1 .b{
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
        color: azure; 
        
    }

    .text1 .c{
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 33px;
        color: azure;
    }
    
  .img{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      grid-column-start: span 1;

  }
 

    .cv{
        border: none;
        height: 50px;
        width: 150px;
        color: black;
        font-weight: bold;
        background-color: yellow;
        transition: 1s;  
        border-radius: 10px;
    }
    .cv:hover{
        background-color: white;
        color:rgb(66, 66, 66);
    }
    
    .abc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        background: rgba(0, 0, 0, 0.7);
    }

    .ab{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.6);
        min-height: 90%;
        border-radius: 10px; 
        display: flex;
        
        align-items: center;
    }

    
        .about , .img-one
        {
            width: 50%;
            min-height: 50%;
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
      .about{
           color: azure;
           padding-left: 13px;
           font-size: 17pt;}
             
    .head-one{
        font-weight: bolder;
        text-align: center;
        font-size: 30pt;
        color: yellow;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        border-radius: 8px;
        transition: 1s;
        height: 50px;
        padding: auto
        ;
      
        
    }

    .head-one:hover{
        background-color: rgba(240 , 255, 255,1);
        color: black;
    }


    .edu , .img-one
        {
            width: 50%;
            min-height: 50%;
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }

    .edu{
        color: azure;
        padding-right: 13px;
        font-size: 17pt;}
    
    .edu h1{
        color: yellow;
        font-weight: bold;
        font-size: 30pt;     
    }
     

    .cards{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.6);
        min-height: 90%;
        border-radius: 10px; 
        
        
    }
    .cards h1{
        color: yellow;
        font-size: 30pt;
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
    }
   
    .boxes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 28px;
    }
    .box-one{
        display: flex;
        width: 40%;
        min-height: 350px;
        background-color: rgb(124, 124, 114);
        border-radius: 13px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
     
    .box-one:hover{
        background-color: rgb(243, 243, 140);
       
        
        
    
    }

    .box-one h2{
        font-weight: bold;
        font-size: 27pt;
        background-color: rgb(57, 77, 77);
        width: 60%;
        text-align: center;
        color: white;

    }
    
    .box-one p{
        font-size: 15pt;
        font-weight: bold;
        color: white;
    }
    .box-one p:hover{
        color: black;
    }

    .cert{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.6);
        min-height: 90%;
        border-radius: 10px; }
        
        .cert h1{
            color: yellow;
            font-size: 30pt;
            text-align: center;
            margin-top: 15px;
            font-weight: bold;
        }
        
        .pics{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 60px;}
            

        .pic-one img{
            border-radius: 30px;
            border: 5px solid brown;
        }


        .refr{
            
                width: 80%;
                background-color: rgba(0, 0, 0, 0.6);
                min-height: 90%;
                border-radius: 10px; 
                
        }

        .refr h1{
            color: yellow;
            font-size: 30pt;
            text-align: center;
            margin-top: 15px;
            font-weight: bold;
        }

        .card-ref{
            display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 28px;
        }

        .card-one{
            width: 35%;
            height: 400px;
            background-color: white;
            border-radius: 6px;
            box-shadow: 0 4px 8px 0 white;
        }

        .card-one p{
            padding-left: 15px;
            font-size: 13pt;
            font-weight: bold;
        }

        .langu{
            
            width: 80%;
            background-color: rgba(0, 0, 0, 0.6);
            min-height: 90%;
            border-radius: 10px; 
            
    }

    .langu h1{
        color: yellow;
        font-size: 30pt;
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
    }

    .qel{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 28px;
    }

    .Arabic{
        display: flex;
        width: 30%;
        min-height: 370px;
        background-color: rgb(124, 124, 114);
        border-radius: 13px;
        flex-direction: column;}
       
       

        .Arabic h2{
            font-weight: bold;
            font-size: 30pt;
            background-color: rgb(57, 77, 77);
            width: 100%;
            text-align: center;
            color: white;
            padding-left: 40px;
            
            
           
    
        }

        .Arabic p{
            font-size: 15pt;
            font-weight: bold;
            color: white;
            text-align: end;
            display: flex;
            padding-left: 10px;
        
        }

        .eval{
            background-color: yellow;
            border-radius: 10px;
            margin-left: 8px;
           
        }

   
       
    
     
        

       

        

   
   
    .CM{
        width: 100%;
        min-height: 140px;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
       
    
    }
    .CM p{
        color: white;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
   
    

    
   
   

   .social a{
       width: 40px;
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 20px 8px;
       border-radius: 50%;
       background-color: rgb(238, 231, 231);
       flex-direction: column;
      
   }
   .social{
       display: flex;
       justify-content: center;
       width: 50%;
      
   }
    .social .icon{
        width: 30px;
        height: 30px;
        
    }

    .social a:hover{
        background-color: rgb(252, 237, 30);
        transition: all ease 0.5s;
        width: 100px;
        height: 100px;

    }

    
        
   
    
    
    
    @media  (min-width:481px) and (max-width:768px){

        .text1 .a {
         
            font-size: 18px;
        
        }


        .text1 .b {
            
            
            font-size: 22px;
    
        }

        .text1 .c {
            
            
            font-size: 20px;
            
        }

        .img-one {
           
            height: 250px;
        }
        .about {
            
            font-size: 11pt;
        }

        .edu {
           
            font-size: 13pt;
        }

        .box-one p {
            font-size: 12pt;
            
        }

        .card-one p {
            padding-left: 15px;
            font-size: 10pt;
            font-weight: bold;
        }

        .picture-one , .picture-two , .picture-three {
            width: 180px;
            height: 260px;
        }

        .Arabic h2 {
            
            font-size: 20pt;
            padding-left: 30px;
        }

        .Arabic p {
            font-size: 12pt;
           
        }
    }

    @media screen and (max-width: 479px){

        .pic{    width: 130px;}

        .text1 .a {
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 12px;
            color: azure;
        }

        .text1 .b {
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            color: azure;
        }

        .text1 .c {
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 12px;
            color: azure;
        }


           

           
           
            .cv {
                
                height: 40px;
                width: 120px;
               
            }
            .about {
                
                font-size: 8pt;
            }


            .head-one {
               
                font-size: 20pt;
               
               
              
            }
            .edu {
                
                font-size: 8pt;
            }
        
            .edu h1 {
                
                font-size: 20pt;
            }

            .head-one {
               
                font-size: 10pt;
                margin-top: 10px;
                padding-top: 15px;
                margin-left: 100px;
            }

            .me{
                width: 100px;
                height: 180px;

            }
                
             .uni {
                
                width: 60%;
                height: 250px;
            }

            .ex {
               
                width: 60%;
                
                height: 250px;
                margin-top: 30px;

            }

            .ab {
                
                min-height: 75%;
                
            }

            .pics {
                
                flex-direction: column;
               
            }

            .picture-one{
                width: 200px;
                height: 120px;
            
            }
            
                .picture-two
                {
                    width: 200px;
                    height: 120px;
                    margin-top: 10px;
                }

                .picture-three
                {
                    width: 200px;
                    height: 120px;
                    margin-top: 10px;
                }

                .cards {
                    
                    min-height: 75%;
                   
                }
                .cards h1 {
                   
                    font-size: 20pt;
                    
                }

                .cert h1 {
                    
                    font-size: 20pt;
                    margin-top: 20px;
                    
                }

                .refr h1 {
                   
                    font-size: 20pt;
                   
                }

                .card-one {
                    width: 40%;
                    height: 390px;
                    
                }

                .langu h1 {
                  
                    font-size: 20pt;
                   
                }

                .Arabic {
                   
                    width: 45%;
                    min-height: 300px;
                    margin-top: auto;
                }

                .eval {
                    
                    margin-left: 3px;
                    
                }

                .langu {
                   
                    min-height: 75%;
                   
                }


            .box-one p {
                font-size: 5pt;
              
            }

            .box-one h2 {
               
                font-size: 10pt;}
               
                
                .card-one p {
                    padding-left: 3px;
                    font-size: 6pt;
                    
                }

                .Arabic h2 {
                
                    font-size: 10pt;
                    
                    padding-left: 0px;
                }

                .Arabic p {
                    font-size: 8pt;
                    
                    padding-left: 3px;
                }

                .CM {
                    flex-direction: column;
                }

                .CM p {
                   
                    font-size: 18px;
                    
                    
                }

                .social a {
                    width: 30px;
                    height: 0px;
                   
                }

            }



            
       
           



       